/* Daniel Nguyen - Featured Products Style Sheet */

/* Logo and Banner */
#logo {
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navagation Bar */
.navagation {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    background-color:white;
    width: 100%;
    padding-top: 30px;

  }

.navagation a {
    color: black;
    text-align: auto;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
}

.navagation a:hover {
    color: #324775;
}

/* Whiskey */
.whiskey-banner {
    padding-top: 30px;
    display: block;
    margin: auto;
    margin-right: auto;
}

.whiskey-news {
    color: white;
    font-size: 100px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.whiskey-description-news-banner {
    color: white;
    font-weight: 100px;
    font-size: 25px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Gin */
.gin-banner {
    padding-top: 30px;
    display: block;
    margin: auto;
    margin-right: auto;
}

.gin-news {
    color: white;
    font-size: 100px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 132%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.gin-description-news-banner {
    color: white;
    font-weight: 100px;
    font-size: 25px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Tequila */
.tequila-banner {
    padding-top: 30px;
    display: block;
    margin: auto;
    margin-right: auto;
}

.tequila-news {
    color: white;
    font-size: 100px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 206%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.tequila-description-news-banner {
    color: white;
    font-weight: 100px;
    font-size: 25px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    position: absolute;
    top: 213%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Vodka */
.vodka-banner {
    padding-top: 30px;
    display: block;
    margin: auto;
    margin-right: auto;
}

.vodka-news {
    color: white;
    font-size: 100px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 280%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.vodka-description-news-banner {
    color: white;
    font-weight: 100px;
    font-size: 25px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    position: absolute;
    top: 287%;
    left: 50%;
    transform: translate(-50%, -50%);
}

