/* Daniel Nguyen */

* {
    font-family: 'Overpass', sans-serif;
  }

/* New Arrivials Banner */
.banner-strip {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    text-align: center;
    background: #324775;
    color: white;
    font-size: 30px;
  }

/* Logo and Banner */
#logo {
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navagation Bar */
.navagation {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    background-color:white;
    width: 100%;
    padding-top: 30px;

  }

.navagation a {
    color: black;
    text-align: auto;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
}

.navagation a:hover {
    color: #324775;
}

/* News Banner */

.news {
    color: black;
    font-size: 100px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.description-news-banner {
    color: black;
    font-weight: 100px;
    font-size: 25px;
    font-family: 'Overpass', sans-serif;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color: black;
    color: white;
  }

/** Buttons **/

/* Product1 */
main section{
  display: flex;
  flex-wrap: wrap;
justify-content: center;
align-items: center;
}

main section div {
  font-family: 'Overpass', sans-serif;
  font-weight: 500px;
  border: 1px solid #ccc;
padding: 5px;
margin: 5px;
} 
section div:last-child {margin-right: 0;}  

main section div h2 {
  font-family: 'Overpass', sans-serif;
  color:black;
  margin-top: 20px;
  text-align: center;
}

.location-section {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.hours-section {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

/** Footer **/

.footer-container {
  background-color: #324775;
  padding-top: 40px;
}

.footer {
  width: 70%;
  height: 40vh;
  background-color: #324775;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.footer-section h2 {
  margin-bottom: 2rem;
}

.footer-section a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-section a:hover {
  color: black;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: .5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: lightgrey;
}

#footer-email-button {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color:black;
  outline: none;
  border: none;
  color: lightgray;
  font-size: 1rem;
}

#footer-email-button:hover {
  cursor: pointer;
  background-color: white;
}