/* Daniel Nguyen - Tequila Style Sheet */

/* Logo and Banner */
#logo {
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navagation Bar */
.navagation {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    background-color:white;
    width: 100%;
    padding-top: 30px;

  }

.navagation a {
    color: black;
    text-align: auto;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
}

.navagation a:hover {
    color: #324775;
}

/* News Banner */
.news-banner {
    padding-top: 30px;
    display: block;
    margin: auto;
    margin-right: auto;
}

.news {
    color: white;
    font-size: 100px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.description-news-banner {
    color: white;
    font-weight: 100px;
    font-size: 25px;
    font-family: 'Overpass', sans-serif;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Product1 */
main section{
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

main section div {
    font-family: 'Overpass', sans-serif;
    font-weight: 500px;
    border: 1px solid #ccc;
	padding: 20px;
	margin: 20px;
    justify-content: center;
    align-content: center;
} 
section div:last-child {margin-right: 0;}  

main section div h2 {
    font-family: 'Overpass', sans-serif;
    color:black;
    margin-top: 20px;
}

main section div img {
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
}



/* Footer */

